@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:top; background:none;font-family: 'Ubuntu', sans-serif;font-weight: 300;}


main {
    width: 100vw;
}

main .carousel {
margin: 40px;
}


h1 {
    font-size: 2em;
    font-weight: 700;
}

header {
    background-color:darkcyan;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .Logo {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        text-align: center;
    }
}

.Logo {
    color:white;
    font-weight: 600;
    transition: 0.3s;
}

.Logo:hover {
    text-decoration: none;
    color:indigo;
    transition: 0.3s;
}

nav {
    color: white;
}

nav a {
    color:white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color:indigo;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

section {
    background-size: 100%;
    background-position: bottom;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


article {
    width: calc(50% - 110px);
    background-color: white;
    padding: 40px;
}

footer {
    background-color: grey;
    padding: 40px;
    color: white;
    font-weight: 300;
    font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
    footer {
        text-align: center;
    }
}

.frontpage {
    /*bootstrap*/
    display: flex;
    justify-content: center;
}

nav .active {
    font-style: oblique !important;
}

nav ul li {
    list-style: none;
    margin-left: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

.boxes {
    background-color: rgb(236, 236, 234);
}

img {
    position:relative;
}

#platzhalter {
    max-width: 70%;
}

.galerie {
    max-width: 100%;
}


.weiss {
    color: white;
}

.schwarz {
    color: black;
}
